.properties {
  display: flex;
  flex-direction: row;
}

.property-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar {
  min-width: 15rem;
  height: 100vh;
  background-color: white;
}
